form {
	border: 3px;
}

.row {
    display: flex;
  }

  .column {
    flex: 50%;
  }

  
  .container{
	min-height: 85vh;
	min-width: 100vw;
}

input{
	
	padding: 12px 20px;
	margin: 20px 0;
	display: inline-block;
	border: 1px solidc transparent;
	box-sizing: border-box;
	color: black;
}

 button {
	background-color: #4CAF50;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
	background-color: #0000FF;
}

hr{
	border: 2px solid brown;
}

 h1 {
    text-align: center;
    color:black
} 
