<div class="container">
<h1>
    Loan Details
</h1>

<h3>
    Enter your details:
</h3>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" ngNativeValidate>

   <div class="form-row">

    <div class="form-group col-md-6">
        <label for="fname">First Name * </label>
    <input type="text" formControlName="fname"  class="form-control" id="fname" name="fname" placeholder="First Name" required >
    </div>

    <div class="form-group col-md-6">
        <label for="lname">Last Name * </label>
        <input type="text" formControlName="lname" class="form-control" id="lname" placeholder="Last Name" name="lname" required >     
    </div>

   </div>

    <div class="form-group col-md-12">
        <label for="loanNumber">Loan Number * </label>
        <input type="number" formControlName="loanNumber" class="form-control" id="loanNumber" placeholder="Loan Number" name="loanNumber" required >
   </div>

   <div class="form-group col-md-12">
      <p>* Mandatory</p>    
   </div>

   <div class="form-group col-md-12">
   <button class="btn btn-primary col-md-12" type="submit" >Search</button>
   </div>
</form>
<br>
<div class="loan" *ngIf = "isShow">

    <hr>

    <h1>
        <strong>Your Loans</strong>
    </h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <td>Loan Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Property Address</td>
            <td>Loan Type</td>
            <td>Amount</td>
            <td>Loan Term</td>
            <td>Loan Status</td>
            <td>Loan Management Fees</td>
            <td>Origination Date</td>
            <td>Lien Info</td>
            <td>Legal Document</td>
            <td>Loan History</td>
             </tr>
        </thead>
        <tbody>
        <tr *ngFor="let loan of loans">
            <td>{{loan.loanNumber}}</td>
            <td>{{loan.fname}}</td>
            <td>{{loan.lname}}</td>
            <td>{{loan.propertyAddress}}</td>
            <td>{{loan.loanType}}</td>
            <td>{{loan.loanAmount}}</td>
            <td>{{loan.loanTerm}}</td>
            <td>{{loan.loanStatus}}</td>
            <td>{{loan.loanManagementFees}}</td>
            <td>{{loan.originationDate | date : 'shortDate'}}</td>
            <td>{{loan.lienInfo}}</td>
            <td>{{loan.legalDocument}}</td>
            <td>{{loan.loanHistory}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</div>